.crop-input {
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

.crop-filter {
  width: 100%;
  display: inline-block;
}

.btn-default {
  padding: 10px;
  font-size: 15px;
  background-color: rgb(18, 138, 236);
  color: whitesmoke;
  font-weight: bolder;
  border-radius: 25px;
  width: 100px;
}

.btn-default:focus {
  outline: none;
  box-shadow: 0 0 5px coral;
  border: 1px solid coral;
  font-style: italic;
  background-color: rgb(29, 233, 107);
}

.btn-flip {
  padding: 8px;
  font-size: 12x;
  background-color: rgb(148, 74, 233);
  color: whitesmoke;
  font-weight: bolder;
  border-radius: 75px;
  width: 150px;
  margin-left: 10px;
}

.btn-flip:focus {
  outline: none;
  box-shadow: 0 0 5px coral;
  border: 1px solid coral;
  font-style: italic;
  background-color: rgb(29, 233, 107);
}

.flip-filter {
  padding: 10px;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.present-container {
  /* width: 100%;
      height: 100%; */
  /* border: 2px solid violet; */
}

.center-canvas {
  text-align: center;
}
/* style for canvas */
#my_canvas {
  width: 60%;
  height: 40%;
  object-fit: contain;
}

/* style for function to set image */
.basic-function {
  display: flex;
  width: 100%;
  height: 100%;
}

.do_flip {
  display: flex;
  flex-basis: 150em;
  justify-content: space-around;
}

.do_greyscale {
  display: flex;
  flex-basis: 100em;
  justify-content: center;
  align-items: center;
}
