.text-status {
  display: flex;
  width: 3em;
}

.btn-status {
  height: 2.4em;
  border: 1px solid violet;
  display: flex;
  flex-basis: 2.5em;
  justify-content: center;
  align-items: center;
}

.text-weight {
  display: flex;
  justify-content: center;
}

.form-control {
  border: 1px solid violet;
}

.height-100 {
  height: 100%;
}
