.file-container{
	height: 100%;
    width: 100%;

}

.pic{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgb(170, 140, 240);
    border-radius: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}



#title-text{
    text-align: center;
}